@{
    ViewData["Title"] = "FACES2 LOGIN";
}

<div class="text-center">
    <h1 class="display-4">Faces2</h1>
    <p>powered by <a href="https://visiontechconsulting.ca/">vt</a> visiontech.</p>
</div>
